.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/
out/
*.exe
*.dll
*.app
*.so
*.dylib
*.class
*.jar

*.iml
*.ipr
*.iws

*.launch
*.vs/
.vs/
*.psess
testresult.xml
TestResults/

appsettings*.json
!appsettings.json    # Основний файл налаштувань залишаємо
appsettings.*.json

*.nupkg
*.snupkg
packages/
*.pdb
*.mdb
*.ilk
*.log
*.vspscc
*.vssscc

logs/
logs/**

*.tmp
*.temp
*.tmpfiles
*.cache
*.gzip

*.rsuser
*.resharper
_ReSharper/
*.Rider/
.idea/**

*.swp
*.swo
*.bak
*.orig
*.pyc
*.pyo
*.pid
*.pid.lock

build/
dist/
